.checkout-row{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-bottom{
    border-bottom: none;
}
.checkout-col{
    text-align: left;
    font-size: 17px;
    font-family: fangsong;
}
.checkout-image{
    border-radius: 8px;
}
.apply-btn{
    height: 44px;
    width: 65px;
    border: 1px solid #d1cdcd;
}
.checkout-item{
    position: sticky;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.total-bill{
    margin-top: 18px;
}
.strong-total {
    padding-left: 10px;
}
.input-col{
    padding: 0;
}
.price-breakdown{
    font-family: emoji;
}
strong{
    font-size: 20px;
}
.info-icon{
    border-radius: 37px;
    border: 2px solid rgb(145 143 143);
    font-size: 9px;
}
.lebel-col{
    text-align: left;
    margin-bottom: 0;
}
.login-col{
    margin-bottom: 0;
    text-align: right;
}
.login-link{
    color: black;
}
.checkbox-input{
    width: 0;
}
.form-checkbox{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 8px;
}
.checkbox-input{
    width: 30px;
    height: 20px;
    border-radius: dotted;
}
.offers-label{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 8px;
}
.delivery-label{
    font-size: 22px;
}
.save-info-label{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 8px;
}
.form-input:focus, .form-control:focus {
    border: 2px solid;
    border-color: black; /* Change the border color to black */
    box-shadow: none; /* Remove the default Bootstrap focus shadow if any */
    outline: none; /* Remove the default outline */
  }